*{
    margin: 0px;
    padding: 0px;
}
header{
    background: #BE3131;
    text-decoration: none;
    color: white;
    font-family: Quicksand;
    width: 100%;
    height: 80px;
}
.topnav {
    display: flex;
    margin: 0px 0px 0px 80%;
    overflow: hidden;
    }
a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
a:hover{
    background: #AB0B0B;
}
h1{
margin-left: 100px;
font-family: 'Quicksand';
font-size: 40px;
}

img{
    width: 100%;
    height: 100vh;
    margin-top: -10px;

}

button{
    width: 250px;
    height: 70px;
    margin-left: 80%;  
    margin-top: 200px; 
    background: #AB0B0B;
    border-radius: 20px;
    font-family: "Quicksand";
    font-weight: bolder;
    font-size: 24px;
    color: white;
}
button:hover{
    background: #BE3131;
}
.btn-text{
    color: white;
    margin-left: 80%;
    margin-top: -500px;
    font-family: "Quicksand";
    font-weight: bolder;
    font-size: 24px;
}
.signupmodal{
    width:100%;
    height:60vh;
    background:rgba(0, 0, 0, 0.8);
    position:fixed;
    display:none;
    margin-top: -100px;
}
.loginmodal{
    width:100%;
    height:120vh;
    background:rgba(0, 0, 0, 0.8);
    position:fixed;
    display:none;
    margin-top: -100px;
}
.signupcard{
    margin:2% 10% 10% 35%;
    width:30%;
    height: 100vh;
    background:grey;
    box-shadow:0px 4px 8px #AB0B0B;
    text-align:center;
    padding:20px;

}
.inputsignup{
    width:80%;
    height:30px;
    padding:10px 20px;
    border:1px solid rgb(185, 182, 182);
    margin:20px;
}

.signupbutton{
    width:90%;
    height:50px;
    margin-top: -90px;
    margin-left: -20px;
    background:#AB0B0B;
    cursor:pointer;
}

.close{
    position:absolute;
    margin:-20px 20px 0px 10%;
    color:white;
    font-size:35px;
    font-weight:bold;
    cursor:pointer;
}

.close:hover{
    color:red;
}
.cardcontainer{
    width:100%;
    height: 100vh;
    background-color:#460303;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    
    }
.card-1{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    color:white;
    }
    .card-2{
        width: 200px;
        height: 200px;
        margin-top: 10px;
        margin-left: 10px;
        padding: 10px;
        color:white;
        }
        .card-3{
            width: 200px;
            height: 200px;
            margin-top: 10px;
            margin-left: 10px;
            padding: 10px;
            color:white;
            }
            .card-4{
                width: 200px;
                height: 200px;
                margin-top: 10px;
                margin-left: 10px;
                padding: 10px;
                color:white;
                }
                .card-5{
                    width: 200px;
                    height: 200px;
                    margin-top: 10px;
                    margin-left: 10px;
                    padding: 10px;
                    color:white;
                    }
                    .card-6{
                        width: 200px;
                        height: 200px;
                        margin-top: 10px;
                        margin-left: 10px;
                        padding: 10px;
                        color:white;
                        }
                        .card-7{
                            width: 200px;
                            height: 200px;
                            margin-top: 10px;
                            margin-left: 10px;
                            padding: 10px;
                            color:white;
                            }
                            .card-8{
                                width: 200px;
                                height: 200px;
                                margin-top: 10px;
                                margin-left: 10px;
                                padding: 10px;
                                color:white;
                                }
                                .card-9{
                                    width: 200px;
                                    height: 200px;
                                    margin-top: 10px;
                                    margin-left: 10px;
                                    padding: 10px;
                                    color:white;
                                    }
                                    .card-10{
                                        width: 200px;
                                        height: 200px;
                                        margin-top: 10px;
                                        margin-left: 10px;
                                        padding: 10px;
                                        color:white;
                                        }
                                        .card-11{
                                            width: 200px;
                                            height: 200px;
                                            margin-top: 10px;
                                            margin-left: 10px;
                                            padding: 10px;
                                            color:white;
                                            }
.rose{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    border-radius: 20px;
}
h3{
    margin-top: 10px;
    font-family: "Quicksand";
    font-weight: bold;
    font-size: 20px;
}
input{
    font-family: "Quisand";
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}
